@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Aura's movie store</h1>
    <p>This is Aura's firs web site written with C# and ASP .NET MVC</p>
</div>
